{% extends "base.html" %}

{% load i18n %}


{% block principal %}
<div class="main-content">

{% block cabecalho %}
<div class="row">

    <!-- Profile Info and Notifications -->
    <div class="col-md-6 col-sm-8 clearfix">

        <ul class="user-info pull-left pull-none-xsm">

                        <!-- Profile Info -->
            <li class="profile-info dropdown"><!-- add class "pull-right" if you want to place this from right -->

                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Você está logado como: {{ usuario.login }}
                </a>

            </li>

        </ul>

    </div>


    <!-- Raw Links -->
    <div class="col-md-6 col-sm-4 clearfix hidden-xs">

        <ul class="list-inline links-list pull-right">
            <li >
                <span>Último Login: {{ usuario.user.last_login }}</span>
            </li>

            <li class="sep"></li>

            <li>
                <a href="{% url 'logout' %}">
                    Sair <i class="entypo-logout right"></i>
                </a>
            </li>
        </ul>

    </div>

    <ul class="user-info pull-left pull-right-xs pull-none-xsm">
        <!-- Raw Notifications -->

    </ul>

</div>
{% endblock cabecalho %}


<!-- INICIO CONTEÚDO PRINCIPAL -->

{% block diaD %}
{% endblock diaD %}

{% block alerta %}
{% endblock alerta %}

{% block breadcrumbs %}
<br />
<ol class="breadcrumb bc-2">
    <li>
        <a href="/estoque/home/{{ usuario.user.username }}"><i class="entypo-home"></i>Home</a>
    </li>
    <li class="active">
        <a href="">Cadastrar Produtos</a>
    </li>
</ol>
{% endblock breadcrumbs %}

{% block resumo %}
{% endblock resumo %}

{% block estatisticas %}
{% endblock estatisticas %}

{% block conteudo_principal %}
<div class="profile-env">

	<section class="profile-feed">

        <div class="alert alert-success" style="display:{{ display }}">
            {% if mostrar %}<h4>{{ mostrar }}</h4>{% endif %}
        </div>

		<!-- profile post form -->
		<form class="form-horizontal" method="post">{% csrf_token %}

			<div class="form-options">

				<fieldset>
                    <legend class="my_font">Dados</legend>

                    <div class="form-group">
                        <label class="col-sm-1 control-label" accesskey="U">{{ form.categoria.label }}</label>
                        <div class="col-sm-5">
                        {{ form.categoria }}
                        {{ form.categoria.help_text }}
                        {{ form.categoria.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label" accesskey="U">{{ form.descricao.label }}</label>
                        <div class="col-sm-5">
                        {{ form.descricao }}
                        {{ form.descricao.help_text }}
                        {{ form.descricao.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label" accesskey="U">{{ form.unidade.label }}</label>
                        <div class="col-sm-5">
                        {{ form.unidade }}
                        {{ form.unidade.help_text }}
                        {{ form.unidade.errors }}
                        </div>
                    </div>
			    </fieldset>

				<div class="post-submit">
                    <input type="submit" class="btn btn-primary" value="CADASTRAR" />
				</div>

			</div>
		</form>

	</section>
</div>
{% endblock conteudo_principal %}

<!-- FIM CONTEÚDO PRINCIPAL -->

{% block rodape %}
    <!-- Footer -->
    <footer class="main">
        &copy; 2014 <strong>SISCOER</strong>
    </footer>
{% endblock rodape %}


</div> <!--- FIM DA MAIN -->
{% endblock principal %}