{% extends "base.html" %}

{% load i18n %}


{% block principal %}
<div class="main-content">

{% block cabecalho %}
<div class="row">

    <!-- Profile Info and Notifications -->
    <div class="col-md-6 col-sm-8 clearfix">

        <ul class="user-info pull-left pull-none-xsm">

                        <!-- Profile Info -->
            <li class="profile-info dropdown"><!-- add class "pull-right" if you want to place this from right -->

                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Você está logado como: {{ usuario.login }}
                </a>

            </li>

        </ul>

    </div>


    <!-- Raw Links -->
    <div class="col-md-6 col-sm-4 clearfix hidden-xs">

        <ul class="list-inline links-list pull-right">
            <li >
                <span>Último Login: {{ usuario.user.last_login }}</span>
            </li>

            <li class="sep"></li>

            <li>
                <a href="{% url 'logout' %}">
                    Sair <i class="entypo-logout right"></i>
                </a>
            </li>
        </ul>

    </div>

    <ul class="user-info pull-left pull-right-xs pull-none-xsm">
        <!-- Raw Notifications -->

    </ul>

</div>
{% endblock cabecalho %}


<!-- INICIO CONTEÚDO PRINCIPAL -->

{% block diaD %}
{% endblock diaD %}

{% block alerta %}
{% endblock alerta %}

{% block breadcrumbs %}
<br />
<ol class="breadcrumb bc-2">
    <li>
        <a href="/estoque/home/{{ username }}"><i class="entypo-home"></i>Home</a>
    </li>
    <li class="active">
        <a href="/estoque/deletar_estoque/{{ username }}"></i>Deletar Estoque</a>
    </li>
</ol>
{% endblock breadcrumbs %}

{% block resumo %}
{% endblock resumo %}

{% block estatisticas %}
{% endblock estatisticas %}

{% block conteudo_principal %}

<div class="panel panel-primary">
    <table class="table table-bordered table-responsive table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Data Cadastro</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ estoque.descricao }}</td>
                <td>{{ estoque.cadastro }}</td>
            </tr>
        </tbody>
    </table>
</div>

<h3 class="alert alert-danger">Tem certeza que deseja apagar? Esta ação irá apagar todos os itens que dependem deste. Tome muito cuidado!</h3>

<div class="post-submit">
    <a href="/estoque/deletar_estoque/{{ estoque.id }}/1" class="btn btn-primary">SIM, Tenho Certeza</a>
</div>

{% endblock conteudo_principal %}

<!-- FIM CONTEÚDO PRINCIPAL -->

{% block rodape %}
    <!-- Footer -->
    <footer class="main">
        &copy; 2014 <strong>SISCOER</strong>
    </footer>
{% endblock rodape %}


</div> <!--- FIM DA MAIN -->
{% endblock principal %}