{% extends "admin/base.html" %}
{% load i18n grp_tags %}

{% block title %}{{ title }} | {% trans 'SISCOER - Administrativo' %}{% endblock %}

{% block branding %}
    <h1>{% trans 'SISCOER -  Administrativo' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block javascripts %} {{ block.super }}
    <script type="text/javascript"
            charset="utf-8">
        var STATIC_URL = '{{ STATIC_URL }}', MEDIA_URL = '{{ MEDIA_URL }}', REQUEST_USER = '{{ request.user.pk }}', IS_SUPERUSER = '{{ request.user.is_superuser }}';
    </script>
{% endblock %}

{% block footer %}
    {% if not is_popup %}
        <div>
            <p>.</p>
            <p>.</p>
            <p align="center">Copyright &copy; 2014 &ndash; {%  now "Y" %} SISCOER. Todos os Direitos Reservados.</p>
            <p align="center">By: <a href="http://siscoer.weslleyaraujo.com" target="_blank">SISCOER</a></p>
        </div>
    {% endif %}
{% endblock %}